/* Author: Mladen Gibanica(*)(**) and Thomas Abrahamsson(*)
% (*) Chalmers University of Technology
% Email address: mladen.gibanica@chalmers.se, thomas.abrahamsson@chalmers.se  
% Website: https://github.com/mgcth/abraDAQ
% May 2015; Last revision: 21-May-2015 */

body {
width: 1000px;
display: block
}

.titlepage p, .titlepage pre {
width: 800px;
display: inline;
}

.book {
width: 1000px;
}

.mediaobject img {
width: 1000px;
}